<plugin name='apns' version='0.5.1' grailsVersion='1.1.1 &gt; *'>
  <author>Sebastien Arbogast, Arthur Neves</author>
  <authorEmail>sebastien.arbogast@gmail.com, arthurnn@gmail.com</authorEmail>
  <title>Apple Push Notification Service</title>
  <description>\
This plugin allows you to integrate with Apple Push Notification service to send
push notifications to an iPhone client of your Grails application.
</description>
  <documentation>http://www.grails.org/plugin/apns</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>