<plugin name='apns' version='1.1' grailsVersion='1.3.8 &gt; *'>
  <author>Sebastien Arbogast, Arthur Neves</author>
  <authorEmail>sebastien.arbogast@gmail.com, arthurnn@gmail.com</authorEmail>
  <title>Apple Push Notification Service</title>
  <description>\
This plugin allows you to integrate with Apple Push Notification service to send
push notifications to an iPhone client of your Grails application.
</description>
  <documentation>http://www.grails.org/plugin/apns</documentation>
  <type>ApnsGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.notnoop.apns' name='apns' version='0.2.3' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>